@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Code+Pro:wght@200&display=swap");

/**
    Table of Content
    ================

    1. Global
    2. Variables
    3. Typography
    4. Buttons
    5. Animtaions
    6. Header
        6.1 Nav
            6.1.1 Hamburger
            6.1.2 Nav list
        6.2 Header content
        6.3 Header design elements
    7. About
    8. Languages
        8.1 Language card
    9. Workflow
    10. Portfolio
        10.1 Portfolio card
            10.1.1 Portfolio card hover
        10.2 Portfolio footer
    11. Footer
        11.1 Footer Contact Bait
        11.2 Footer Bottom
    

    Media queries
    -------------

    Width > 870px:
            Media query > 870px: 6.1 Nav
            Media query > 870px: 6.2 Header Content
            Media query > 870px: 6.3 Header Design Elements
        Media query > 870px: 7. About
        Media query > 870px: 8. Languages
            Media query > 870px: 8.1 Languages Card
            Media query > 870px: 8.2 Languages Card Positioning
        Media query > 870px: 9. Workflow
        Media query > 870px: 10. Portfolio
        Media query > 870px: 11. Footer Contact Bait

    Width > 1300px:
        Media query > 1300px: 1. Global
        Media query > 1300px: 8. Language 
            Media query > 1300px: 8.2 Language Card Positioning 
        Media query > 1300px: 10. Portfolio
        Media query > 1300px: 11. Footer Contact Bait


    @Author Joakim Edvardsen

**/

/* ==================
   1. Global
   ================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 3em 1fr 3em;

  font-size: 10px;
  overflow-x: hidden;
  background-color: var(--clr-black-100);
}

/* ==================
   2. Variables
   ================== */

:root {
  --grid: 1em 1fr 1em;

  --clr-white: #fff;
  --clr-grey: #efefef;
  --clr-black-200: #000;
  --clr-black-100: #121212;
  --clr-lime: #00ffb2;
  --clr-purple: #8321ff;
  --clr-military: #97ada7;

  --ff-title: "Libre Baskerville", serif;
  --ff-body: "Source Code Pro", monospace;
  --ff-btn: Arial, Helvetica, sans-serif;

  --animation-duration: 700ms;
  --animation-duration-fast: 300ms;
}

/* ==================
   3. Typography
   ================== */

h1,
h2,
h3,
.title {
  font-family: var(--ff-title);
  text-transform: uppercase;
}

p {
  font-family: var(--ff-body);
  font-size: 1.5em;
  line-height: 2em;
}

.title {
  font-size: 2rem;
}

.title--underline {
  position: relative;
}

.title--underline::after {
  content: "";
  display: block;
  height: 5px;
  width: 4em;
  background: var(--clr-lime);

  position: absolute;
  bottom: 0.05em;
}

.title--arial {
  font-family: var(--ff-btn);
  font-weight: lighter;
}

a {
  color: var(--clr-purple);
}

/* ==================
   4. Buttons
   ================== */

.btn {
  border-radius: 5px;
  padding: 0.75em 1em;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-black-200);

  font-family: var(--ff-btn);

  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background: var(--clr-white);
  color: var(--clr-black-200);
}

/* ==================
   5. Animtaions
   ================== */

.fade-in {
  opacity: 0;
  animation: fadein 1000ms ease-out forwards;
}

.fade-in--fast {
  opacity: 0;
  animation: fadein 500ms ease-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==================
   6. Header
   ================== */

header {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: inherit;

  background: var(--clr-grey);
  height: 100vh;

  z-index: 1;
}

/*
   6.1 Nav
*/

nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo {
  width: 50px;
}

/* 6.1.1 Hamburger */

.hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.hamburger .line {
  display: block;
  width: 100%;
  height: 5px;
  background: #000;
  border-radius: 5px;
  position: absolute;

  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
    color 200ms ease-in-out;
}

.hamburger .upper {
  top: 0;
}

.hamburger .middle {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger .lower {
  bottom: 0;
}

.hamburger-open {
  position: fixed;
  right: 2em;
}

.hamburger-open .line {
  background: #ccc;
}

.hamburger-open .upper {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-open .middle {
  opacity: 0;
}

.hamburger-open .lower {
  transform: translateY(-10px) rotate(-45deg);
}

/* 6.1.2 Nav list */

nav ul {
  list-style: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5em 2em;
  background: var(--clr-black-100);

  font-size: 1.75em;
  font-family: var(--ff-btn);
  text-transform: uppercase;

  position: fixed;
  inset: 0;
  overflow: auto;
  z-index: 50;

  transform: translateX(100%);
  transition: transform 150ms ease-out;
}

.nav__list--sub {
  margin: 0.5em 0 0 1em;
}

.nav__link {
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  color: var(--clr-white);
  text-decoration: none;

  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
  background: var(--clr-lime);
  color: var(--clr-black-200);
}

.arrow-down {
  display: none;
}

.contact--btn {
  background: var(--clr-lime);
  width: 150px;
  margin: 0 auto;
  color: var(--clr-black-200);
}

/*
   6.2 Header content
*/

.header--wrapper {
  grid-column: 2 / 3;
  position: relative;
}

.header__content {
  position: relative;
  z-index: 2;
}

.header__title .underline {
  display: inline-block;
  transform: translateY(-10px);
  position: relative;
}

.header__title .underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: var(--clr-lime);
  position: absolute;
}

.header__text {
  margin-top: 1em;
  font-family: var(--ff-btn);
  font-weight: lighter;
  font-size: 1.25em;
  text-transform: lowercase;
}

.header__content .btn--wrapper {
  display: flex;
  margin-top: 10em;
}

.header__content .btn {
  padding: 0.75em 2em;
  font-size: 1.5em;
}

.learn-more--btn {
  background: var(--clr-lime);
  margin-right: 0.5em;
}

.socials--btn {
  background: var(--clr-purple);
  color: var(--clr-white);
}

/*
   6.3 Header design elements

   Adding these as elements and not creating a background picture
   so i can create a parallax effect on them later
*/
.header__cube {
  position: absolute;
  border-radius: 10px;
  opacity: 0.4;
  width: var(--size);
  height: var(--size);
  z-index: 1;
}

.cube--big {
  --size: 19em;
  background: var(--clr-white);
  right: 2em;
  bottom: 15em;
}

.cube--medium {
  --size: 13em;
  background: var(--clr-purple);
  right: 16em;
  bottom: 7em;
}

.cude--small {
  --size: 5em;
  background: var(--clr-lime);
  bottom: 4em;
  right: 27em;
}

/* ==================
   7. About
   ================== */

.about {
  grid-column: 1 / -1;
  min-height: 100vh;

  display: grid;
  grid-template-columns: inherit;
  padding: 6em 0;
  background: var(--clr-white);

  z-index: 1;
}

.about__content {
  grid-column: 2 / 3;
}

.about__img {
  width: 100%;
  height: 250px;
  margin: 3em 0;

  background-position: 0 -80px;
  background-size: cover;
}

.about__text {
  text-align: center;
}

.text--separator {
  height: 1px;
  width: 50%;
  margin: 5em auto;
  background: var(--clr-black-200);
  opacity: 0.1;
}

/* ==================
   8. Languages
   ================== */

.language {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: inherit;

  background: var(--clr-white);

  position: relative;
  z-index: 1;
}

.language::before {
  content: "";
  display: block;
  width: 100%;
  height: 450px;
  background: var(--clr-lime);

  position: absolute;
  top: 0;
}

.language--content {
  grid-column: 2 / 3;

  padding: 3em 0;

  z-index: 2;
}

.title--default {
  text-align: center;
  margin: 1em 0;
}

.language__text {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 3em;
}

/*
    8.1 Language card
*/

.language__card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2em;
  align-items: center;
  background: var(--clr-white);
  padding: 5em;
  margin-bottom: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  transition: transform 200ms ease-in-out;
}

.language__card:hover {
  transform: scale(1.02);
}

.language__card__icon {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  transition: filter 150ms ease-in-out;
  object-fit: contain;
}

.language__card:hover .language__card__icon {
  filter: grayscale(0);
}

.language__card__body {
  text-align: center;
}

.language__card__body__title {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.language__card__body__text {
  line-height: 1em;
}

.language__experience {
  display: none;
}

/* ==================
   9. Workflow
   ================== */

.workflow {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: inherit;

  background: var(--clr-white);

  z-index: 1;
}

.workflow--content {
  grid-column: 2 / 3;
  padding: 5em 0;
  min-height: 100vh;
}

.workflow .title {
  margin-bottom: 1em;
}

.workflow p {
  margin-bottom: 2em;
  font-size: 0.8rem;
}

.workflow p::first-letter {
  font-size: 4.5em;
  float: left;
  line-height: 0.8em;
}

.workflow__star .star {
  width: 3em;
  margin: 0.5em 1em 0 0;
  float: left;
}

/* ==================
   10. Portfolio
   ================== */

.portfolio {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: inherit;

  padding: 5em 0;
  text-align: center;
  margin-bottom: 100vh;
  background: var(--clr-white);

  position: relative;
  z-index: 1;
}

.portfolio::before {
  content: "";
  display: block;
  position: absolute;

  left: 0;
  right: 0;
  height: 375px;
  background: var(--clr-lime);
}

.portfolio--content {
  grid-column: 2 / span 1;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  z-index: 2;
}

.portfolio .title {
  grid-column: 1 / -1;
  margin-bottom: 1.5em;
}

/*
    10.1 Portfolio card
*/

.portfolio__card {
  height: 350px;
  overflow: hidden;
}

.portfolio__card__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.portfolio__card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1em;
  background: var(--clr-white);

  transform: translateY(0);

  transition: transform 200ms ease-out;
}

.portfolio__card__body__title {
  font-family: var(--ff-btn);
  text-transform: unset;
  font-size: 1rem;
  font-weight: unset;
}

.portfolio__card__body__desc {
  line-height: 1.4;
  font-size: 0.75rem;
  margin: 1em 0;
}

.portfolio__card__body__btn {
  background: var(--clr-purple);
  color: var(--clr-white);
  padding: 0.75em 2em;
}

.portfolio__card__body__btn:hover,
.portfolio__card__body__btn:focus {
  background: var(--clr-black-100);
  color: var(--clr-white);
}

/* 10.1.1 Portfolio card hover */

.portfolio__card:hover .portfolio__card__body,
.portfolio__card:focus .portfolio__card__body {
  transform: translateY(-100%);
}

/*
    10.2 Portfolio footer
*/

.portfolio__footer {
  grid-column: 1 / -1;
  padding: 10em 0;
}

.portfolio__footer__title {
  text-transform: unset;
}

.portfolio__footer__link {
  background: var(--clr-purple);
  color: var(--clr-white);

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4em auto 0 auto;
  padding: 1.2em;
  width: 175px;
}

.portfolio__footer__link img {
  height: 30px;
  margin: 0 1em 0 -0.5em;
  filter: invert(1);
}

.portfolio__footer__link:hover,
.portfolio__footer__link:focus {
  background: var(--clr-black-100);
  color: var(--clr-white);
}

/* ==================
   11. Footer
   ================== */

.footer {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background: var(--clr-black-100);
  color: var(--clr-white);

  position: fixed;
  inset: 0;
}

/*
    11.1 Footer Contact Bait
*/

.contact-bait {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: var(--clr-military);
  min-height: 75vh;
  width: 100%;
  color: var(--clr-white);
}

.contact-bait__title {
  font-size: 10vw;
}

.contact-bait__text {
  font-size: 0.75rem;
  margin-bottom: 100px;
}

.contact-bait__btn {
  background: var(--clr-lime);
  font-size: 0.8rem;
  padding: 1em 3em;
  margin-bottom: 2em;
}

/*
   11.2 Footer Bottom
 */

.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
}

.footer__socials {
  display: flex;
  gap: 1em;
  list-style: none;
  margin-bottom: 2em;
}

.footer__link {
  display: block;
  --size: 45px;
  height: var(--size);
  width: var(--size);

  border: 2px solid var(--clr-black-200);
  border-radius: 50%;

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  filter: invert(1);
}

.footer__link:hover,
.footer__link:focus {
  filter: invert(0);
  border: 2px solid var(--clr-white);
  background-color: var(--clr-white);
}

.footer__text {
  text-align: center;

  font-size: 0.6rem;
  opacity: 0.25;
}

/* ==================
   Media queries
   ================== */

/* Width > 870px */
@media only screen and (min-width: 870px) {
  /*
        Media query > 870px: 6.1 Nav
    */
  .hamburger {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;
    background: transparent;
    overflow: visible;

    font-size: 1.25em;

    transform: translateX(0);
    transition: none;
  }

  .nav__item {
    position: relative;
  }

  .nav__link {
    padding: 1em 2em;
    border-bottom: none;
    border-radius: 5px;

    color: var(--clr-black-200);
  }

  .nav__link:hover,
  .nav__link:focus {
    background: var(--clr-white);
    color: var(--clr-purple);
    border-radius: 5px 5px 0 0;
  }

  .nav__item:hover .nav__list--sub {
    display: flex;
  }

  .nav__list--sub {
    display: none;
    align-items: center;
    background: var(--clr-white);
    border-radius: 5px;
    margin: 0;
    padding: 1em 0;
    position: absolute;
    transform: translateX(-43%);
  }

  .me {
    width: 170px;
  }

  .about--nav {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .arrow-down {
    display: block;
    width: 0.75em;
    transform: translateY(-25%);
  }

  .contact--btn {
    background: var(--clr-lime);
    width: 100px;
    margin: 0;
    padding: 1em 0;
    color: var(--clr-black-200);
  }

  /*
        Media query > 870px: 6.2 Header Content
    */
  .header__title {
    font-size: 2.5rem;
  }

  .header__text {
    margin-top: 1em;
    font-family: var(--ff-btn);
    font-weight: lighter;
    font-size: 1.75em;
    text-transform: lowercase;
  }

  .header__content .btn--wrapper {
    margin-top: 10em;
  }

  .header__content .btn {
    padding: 0.75em 2em;
    font-size: 1.5em;
  }

  .learn-more--btn {
    background: var(--clr-lime);
    margin-right: 0.5em;
  }

  .socials--btn {
    background: var(--clr-purple);
    color: var(--clr-white);
  }

  /*
        Media query > 870px: 6.3 Header Design Elements
    */
  .cube--big {
    --size: 35em;
    background: var(--clr-white);
    top: -30%;
  }

  .cube--medium {
    --size: 25em;
    background: var(--clr-purple);
    top: 20%;
    right: 25em;
  }

  .cude--small {
    --size: 15em;
    background: var(--clr-lime);
    top: 60%;
    right: 45em;
  }

  /*
        Media query > 870px: 7. About
    */
  .about__content {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 3em;
  }

  .about__content .title--underline::after {
    top: 3.7em;
    width: 130%;
  }

  .about__content--wrapper {
    grid-column: 2 / span 3;
  }

  .about__img {
    margin: 0 0 3em 0;
  }

  .about__text {
    padding: 0 7em;
  }

  .text--separator {
    height: 1px;
    width: 50%;
    margin: 5em auto;
    background: var(--clr-black-200);
    opacity: 0.1;
  }

  /*
        Media query > 870px: 8. Languages
    */

  .language::before {
    height: 400px;
  }

  .language--content {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .language .title {
    grid-column: 1 / -1;
  }

  .language__text {
    grid-column: 1 / -1;
  }

  /* 
        Media query > 870px: 8.1 Languages Card
    */

  .language__card__body__text {
    line-height: 1.5em;
  }

  .language__experience {
    --size: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--size);
    width: var(--size);
    margin: 3em auto 5em auto;

    background: var(--clr-white);
    color: var(--clr-black-200);
    border-radius: 50%;

    position: relative;
  }

  .language__experience__year {
    font-size: 1.75rem;
    font-family: var(--ff-btn);
    font-weight: lighter;
  }

  .language__experience::before,
  .language__experience::after {
    --resize: calc(var(--size) + 1em);
    content: "";
    display: block;
    height: var(--resize);
    width: var(--resize);
    border-radius: 50%;
    position: absolute;
  }

  .language__experience::before {
    background: var(--clr-black-100);
    z-index: -2;
  }

  .language__experience::after {
    background: var(--clr-purple);
    z-index: -1;
  }

  .experience__max::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .experience__two-years::after {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 85%);
  }

  .experience__quarter::after {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  }

  /* 
        Media query > 870px: 8.2 Languages Card Positioning
    */
  .html {
    grid-column: 1 / 3;
  }

  .css {
    grid-column: 3 / 5;
  }

  .javascript {
    grid-column: 1 / 3;
  }

  .java {
    grid-column: 3 / 5;
  }

  .python {
    grid-column: 2 / 4;
  }

  /*
        Media query > 870px: 9. Workflow
    */

  .workflow--content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }

  .workflow .title {
    grid-row: 1 / span 3;
  }

  .workflow .title--underline::after {
    top: 1.1em;
  }

  .workflow__star {
    grid-column: 2 / -1;
  }

  /*
        Media query > 870px: 10. Portfolio
    */

  .portfolio--content {
    grid-template-columns: repeat(2, 1fr);
  }

  /*
        Media query > 870px: 11. Footer Contact Bait
    */
  .contact-bait__text {
    font-size: 1rem;
  }
}

/* Width > 1300px */
@media only screen and (min-width: 1300px) {
  /*
        Media query > 1300px: 1. Global
    */
  body {
    grid-template-columns: 1fr 1200px 1fr;
  }

  /* 
        Media query > 1300px: 8. Language 
    */
  .language--content {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
  }

  /* 
        Media query > 1300px: 8.2 Language Card Positioning 
    */
  .html {
    grid-column: 1 / 3;
  }

  .css {
    grid-column: 3 / 5;
  }

  .javascript {
    grid-column: 5 / 7;
  }

  .java {
    grid-column: 2 / 4;
  }

  .python {
    grid-column: 4 / 6;
  }

  /*
        Media query > 1300px: 10. Portfolio
    */

  .portfolio--content {
    grid-column: 2 / span 1;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .portfolio__card {
    height: 250px;
  }

  /*
        Media query > 1300px: 11. Footer Contact Bait
    */
  .contact-bait__title {
    font-size: 8.25rem;
  }
}
