@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Code+Pro:wght@200&display=swap');

/**
    Table of Content

    1. Global
    2. Variables
    3. Typography
    4. Buttons
    5. Header
        5.1 Nav
            5.1.1 Hamburger
            5.1.2 Nav list
        5.2 Header content
        5.3 Header design elements
    6. Media query

    **/

/* ==================
   1. Global
   ================== */

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    display:grid;
    grid-template-columns:3em 1fr 3em;

    font-size: 10px;
}

/* ==================
   2. Variables
   ================== */

:root {
    --grid: 1em 1fr 1em;

    --clr-white:#fff;
    --clr-grey:#EFEFEF;
    --clr-black-200:#000;
    --clr-black-100:#121212;
    --clr-lime:#00FFB2;
    --clr-purple:#8321FF;

    --ff-title:'Libre Baskerville', serif;
    --ff-body:'Source Code Pro', monospace;
    --ff-btn:Arial, Helvetica, sans-serif;
}

/* ==================
   3. Typography
   ================== */

h1,
h2,
h3,
.title {
    font-family: var(--ff-title);
    text-transform: uppercase;
}

p {
    font-family: var(--ff-body);
    font-size: 1.5em;
    line-height: 2em;
}

.title {
    font-size: 2rem;
}

.title--underline {
    position: relative;
}

.title--underline::after {
    content:'';
    display: block;
    height: 5px;
    width:4em;
    background:var(--clr-lime);

    position: absolute;
    bottom:.05em;
}

.title--arial {
    font-family: var(--ff-btn);
    font-weight: lighter;
}

a {
    color:var(--clr-purple);
}

/* ==================
   4. Buttons
   ================== */

.btn {
    border-radius: 5px;
    padding:.75em 1em;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:var(--clr-black-200);

    font-family: var(--ff-btn);

    transition: background 150ms ease-in-out,
    color 150ms ease-in-out;
}

.btn:hover,
.btn:focus {
    background:var(--clr-white);
    color:var(--clr-black-200);
}

/* ==================
   5. Header
   ================== */

header {
    grid-column: 1 / -1;

    display:grid;
    grid-template-columns: inherit;
    
    background:var(--clr-grey);
    height:100vh;
}

/*
   5.1 Nav
*/

nav {
    grid-column: 2 / 3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
}

.logo {
    width:50px;
}

/* 5.1.1 Hamburger */

.hamburger {
    width:40px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.hamburger .line {
    display: block;
    width: 100%;
    height: 5px;
    background:#000;
    border-radius: 5px;
    position: absolute;

    transition:transform 200ms ease-in-out, 
    opacity 200ms ease-in-out, 
    color 200ms ease-in-out;
}

.hamburger .upper {
    top:0;
}

.hamburger .middle {
    top:50%;
    transform: translateY(-50%);
}

.hamburger .lower {
    bottom:0;
}

.hamburger-open {
    position: fixed;
    right:2em;
}

.hamburger-open .line {
    background:#ccc;
}

.hamburger-open .upper {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-open .middle {
    opacity: 0;
}

.hamburger-open .lower {
    transform: translateY(-10px) rotate(-45deg);
}

/* 5.1.2 Nav list */

nav ul {
    list-style: none;
}

.nav__list {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5em 2em;
    position:fixed;
    inset:0;
    background:var(--clr-black-100);
    overflow:auto;
    z-index:50;

    font-size: 1.75em;
    font-family: var(--ff-btn);
    text-transform: uppercase;

    transform:translateX(100%);
    transition: transform 150ms ease-out;
}

.nav__list--sub {
    margin:.5em 0 0 1em;
}

.nav__link {
    display:block;
    padding:.5em 1em;
    border-bottom:1px solid rgba(255,255,255,.2);

    color:var(--clr-white);
    text-decoration: none;

    transition:background 150ms ease-in-out,
    color 150ms ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
    background:var(--clr-lime);
    color:var(--clr-black-200);
}

.arrow-down {
    display: none;
}

.contact--btn {
    background:var(--clr-lime);
    width:150px;
    margin:0 auto;
    color:var(--clr-black-200);
}


/*
   5.2 Header content
*/

.header--wrapper {
    grid-column: 2 / 3;
    position: relative;
}

.header__content {
    position: relative;
    z-index: 2;
}

.header__title .underline {
    display:inline-block;
    transform:translateY(-10px);
    position: relative;
}

.header__title .underline::after {
    content:'';
    display:block;
    width:100%;
    height:5px;
    background:var(--clr-lime);
    position: absolute;
}

.header__text {
    margin-top:1em;
    font-family: var(--ff-btn);
    font-weight: lighter;
    font-size: 1.25em;;
    text-transform: lowercase;
}

.header__content .btn--wrapper {
    display:flex;
    margin-top:10em;
}

.header__content .btn {
    padding:.75em 2em;
    font-size: 1.5em;
}

.learn-more--btn {
    background:var(--clr-lime);
    margin-right:.5em;
}

.socials--btn {
    background:var(--clr-purple);
    color:var(--clr-white);
}

/*
   5.3 Header design elements

   Adding these as elements and not creating a background picture
   so i can create a parallax effect on them later
*/
.header__cube {
    position: absolute;
    border-radius: 10px;
    opacity: .4;
    width: var(--size);
    height: var(--size);
    z-index: 1;
}

.cube--big {
    --size:19em;
    background:var(--clr-white);
    right:2em;
    bottom:15em;
}

.cube--medium {
    --size:13em;
    background:var(--clr-purple);
    right:16em;
    bottom:7em;
}

.cude--small {
    --size:5em;
    background:var(--clr-lime);
    bottom:4em;
    right:27em;
}

/* ==================
   6. About
   ================== */

.about {
    grid-column: 1 / -1;
    min-height: 100vh;

    display: grid;
    grid-template-columns: inherit;
    padding:6em 0;
}

.about__content {
    grid-column: 2 / 3;
}

.about__img {
    width:100%;
    height:250px;
    margin:3em 0;

    background-position: 0 -80px;
    background-size: cover;
}

.about__text {
    text-align: center;
}

.text--separator {
    height:1px;
    width:50%;
    margin:5em auto;
    background:var(--clr-black-200);
    opacity: .1;
}

/* ==================
   7. Languages
   ================== */

.language {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: inherit;
    min-height: 100vh;

    position: relative;
}

.language::before {
    content:'';
    display:block;
    width:100%;
    height:450px;
    background:var(--clr-lime);

    position: absolute;
    top:0;
    z-index: -1;
}

.language--content {
    grid-column: 2 / 3;

    padding:3em 0;
}

.title--default {
    text-align: center;
    margin:1em 0;
}

.language__text {
    text-align: center;
    margin-bottom:3em;
}

/*
    7.1 Language card
*/

.language__card {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-gap:2em;
    align-items: center;
    background:var(--clr-white);
    padding:5em;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}

.language__card__icon {
    width: 100px;
    filter:grayscale(1);
    transition:filter 150ms ease-in-out;
}

.language__card:hover .language__card__icon {
    filter:grayscale(0);
}

.language__card__body__title {
    font-size: 1rem;
    margin-bottom:1em;
}

.language__card__body__text {
    line-height: 1em;
}


/* ==================
   #. Media query
   ================== */

@media only screen and (min-width:1300px) {
    /*
        #.1 Global
    */
    body {
        grid-template-columns: 1fr 1200px 1fr;
    }
}

/* Over 1000px */
@media only screen and (min-width: 1000px) {
    /*
        #.2 Nav
    */
    .hamburger {
        display: none;
    }
    
    .nav__list {
        flex-direction: row;
        align-items: center;
        padding:0;
        position:static;
        background:transparent;
        overflow:visible;
    
        font-size: 1.25em;
    
        transform:translateX(0);
        transition: none;
    }

    .nav__item {
        position: relative;
    }

    .nav__item:hover .about,
    .nav__item:focus .about {
        background:var(--clr-white);
        border-radius: 5px 5px 0 0;
        color:var(--clr-purple);
    }
    
    .nav__link {
        padding:1em 2em;
        border-bottom:none;
        border-radius: 5px;
    
        color:var(--clr-black-200);
    }
    
    .nav__link:hover,
    .nav__link:focus {
        background:var(--clr-white);
        color:var(--clr-purple);
    }

    .nav__item:hover .nav__list--sub {
        display:flex;
    }

    .nav__list--sub {
        display:none;
        align-items:center;
        background:var(--clr-white);
        border-radius: 5px;
        margin:0;
        padding:1em 0;
        position: absolute;
        transform: translateX(-43%);
    }

    .me {
        width:170px;
    }

    .about--nav {
        display: flex;
        gap:.5em;
        align-items: center;
    }

    .arrow-down {
        display: block;
        width:.75em;
        transform: translateY(-25%);
    }
    
    .contact--btn {
        background:var(--clr-lime);
        width:100px;
        margin:0;
        padding:1em 0;
        color:var(--clr-black-200);
    }

    /*
        #.3 Header content
    */ 
    .header__title {
        font-size: 2.5rem;
    }

    .header__text {
        margin-top:1em;
        font-family: var(--ff-btn);
        font-weight: lighter;
        font-size: 1.75em;;
        text-transform: lowercase;
    }
    
    .header__content .btn--wrapper {
        margin-top:10em;
    }
    
    .header__content .btn {
        padding:.75em 2em;
        font-size: 1.5em;
    }
    
    .learn-more--btn {
        background:var(--clr-lime);
        margin-right:.5em;
    }
    
    .socials--btn {
        background:var(--clr-purple);
        color:var(--clr-white);
    }

    /* #.4. Header design elements */    
    .cube--big {
        --size:35em;
        background:var(--clr-white);
        top:-30%;
    }
    
    .cube--medium {
        --size:25em;
        background:var(--clr-purple);
        top:20%;
        right:25em;
    }
    
    .cude--small {
        --size:15em;
        background:var(--clr-lime);
        top:60%;
        right:45em;
    }
}