@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto+Mono&display=swap');

:root {
	--clr-neutral-000: #f8f9fa;
	--clr-neutral-100: #f1f3f5;
	--clr-neutral-200: #e9ecef;
	--clr-neutral-300: #dee2e6;
	--clr-neutral-400: #ced4da;
	--clr-neutral-500: #adb5bd;
	--clr-neutral-600: #353131;
	--clr-neutral-700: #272525;
	--clr-neutral-800: #1a1919;
	--clr-neutral-900: #0f0e0e;

	--clr-accent-200: #63e6be;
	--clr-accent-300: #38d9a9;
	--clr-accent-400: #20c997;
	--clr-accent-500: #12b886;
	--clr-accent-600: #0ca678;
	--clr-accent-700: #099268;

	--ff-primary: 'Raleway', sans-serif;
	--ff-secondary: 'Roboto Mono', monospace;

	--ff-heading: var(--ff-primary);
	--ff-body: var(--ff-primary);

	--fw-bold: 800;

	--fs-200: 0.5rem;
	--fs-250: 0.625rem;
	--fs-300: 0.75rem;
	--fs-350: 0.875rem;
	--fs-400: 1rem;
	--fs-500: 1.3rem;
	--fs-600: 1.8rem;
	--fs-700: 2.4rem;
	--fs-800: 3.2rem;
	--fs-900: 4.2rem;

	--fs-heading: var(--fs-800);
	--fs-small-heading: var(--fs-400);
	--fs-body: var(--fs-400);

	--rounding: 2px;

	--shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
.body {
	display: grid;
	grid-template-columns: 1em 1fr 1em;
	align-content: start;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-000);

	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ===============
	Util classes
	================ */

/* Logo */

.logo {
	display: flex;
	align-items: center;
	padding: 0.25rem 1rem;
	background-color: var(--clr-neutral-000);

	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	font-weight: var(--fw-bold);
	text-decoration: none;
	color: var(--clr-neutral-800);
}

/* Typography */

.title {
	font-family: var(--ff-heading);
	font-size: var(--fs-heading);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	line-height: 1em;
}

.title--small {
	font-size: var(--fs-small-heading);
}

.title--extra {
	line-height: 1.2em;
}

.title--extra > span {
	display: inline-block;
	font-size: var(--fs-400);
	font-weight: normal;
	margin-bottom: -1rem;
}

.text {
	font-family: var(--ff-body);
	font-size: var(--fs-body);
}

.highlighted {
	color: var(--clr-accent-400);
}

/* Buttons */

.cta {
	padding: 0.75em 1em;
	color: var(--clr-neutral-000);
	background-color: var(--clr-accent-400);

	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	text-decoration: none;
	text-align: center;

	transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

.cta:hover,
.cta:focus {
	background: var(--clr-neutral-000);
}

.link {
	--color: var(--clr-neutral-000);
	--border-size: 2px;
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	text-decoration: none;
	color: var(--color);
	position: relative;
}

.link::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: var(--rounding);
	background-color: var(--color);
}

.link:hover,
.link:focus {
	--color: var(--clr-accent-300);
}

/* Other */

.shadow {
	box-shadow: var(--shadow);
}

.rounded {
	border-radius: var(--rounding);
}

.start-align {
	align-self: start;
}

/* ===============
	Layout classes
	================ */

.section {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: inherit;
}

.content {
	grid-column: 2 / 3;
}

@media screen and (min-width: 45rem) {
	.two-column {
		display: flex;
		gap: 1rem;
	}
}

.card {
	padding: 3rem 2rem;
	border-radius: var(--rounding);
	box-shadow: var(--shadow);
	background-color: var(--clr-neutral-800);
}

@media only screen and (min-width: 1250px) {
	.body {
		grid-template-columns: 1fr 1200px 1fr;
	}
}
