/* ===============
	Layout classes
	================ */

.section {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: inherit;
}

.content {
	grid-column: 2 / 3;
}

@media screen and (min-width: 50rem) {
	.two-column {
		display: flex;
		gap: 2rem;
	}
}

.card {
	padding: 2rem;
	border-radius: var(--rounding);
	box-shadow: var(--shadow);
	background-color: var(--card-bg);
}

.card--light {
	background-color: var(--card-bg-light);
}

@media only screen and (min-width: 1250px) {
	.body {
		grid-template-columns: 1fr 1200px 1fr;
	}
}
