:root {
	/* Default (dark) color theme */
	--clr-neutral-000: #f8f9fa;
	--clr-neutral-100: #f1f3f5;
	--clr-neutral-200: #e9ecef;
	--clr-neutral-300: #dee2e6;
	--clr-neutral-400: #ced4da;
	--clr-neutral-500: #adb5bd;
	--clr-neutral-550: #504949;
	--clr-neutral-600: #353131;
	--clr-neutral-700: #272525;
	--clr-neutral-800: #1a1919;
	--clr-neutral-900: #0f0e0e;
	--clr-neutral-1000: #000;

	--clr-accent-200: #63e6be;
	--clr-accent-300: #38d9a9;
	--clr-accent-400: #20c997;
	--clr-accent-500: #12b886;
	--clr-accent-600: #0ca678;
	--clr-accent-700: #099268;

	--card-bg: var(--clr-neutral-800);
	--card-bg-light: var(--clr-neutral-700);

	--foreground: var(--clr-neutral-100);
	--foreground-muted: var(--clr-neutral-500);
	--background: var(--clr-neutral-900);
	--primary: var(--clr-accent-400);
	--primary-foreground: var(--clr-neutral-900);

	--error: #ff8080;

	--ff-primary: 'Raleway', sans-serif;
	--ff-secondary: 'Roboto Mono', monospace;

	--ff-heading: var(--ff-primary);
	--ff-body: var(--ff-primary);

	--fw-bold: 800;

	--fs-200: 0.5rem;
	--fs-250: 0.625rem;
	--fs-300: 0.75rem;
	--fs-350: 0.875rem;
	--fs-400: 1rem;
	--fs-500: 1.3rem;
	--fs-600: 1.8rem;
	--fs-700: 2.4rem;
	--fs-800: 3.2rem;
	--fs-900: 4.2rem;

	--fs-primary-heading: var(--fs-700);
	--fs-secondary-heading: var(--fs-500);
	--fs-third-heading: var(--fs-400);
	--fs-small-heading: var(--fs-400);
	--fs-body: var(--fs-400);

	--rounding: 2px;

	--shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* Light color theme */
body[data-theme='light'] {
	--clr-neutral-000: #000;
	--clr-neutral-100: #0f0e0e;
	--clr-neutral-200: #1a1919;
	--clr-neutral-300: #272525;
	--clr-neutral-400: #353131;
	--clr-neutral-500: #adb5bd;
	--clr-neutral-550: #ced4da;
	--clr-neutral-600: #ced4da;
	--clr-neutral-700: #dee2e6;
	--clr-neutral-800: #e9ecef;
	--clr-neutral-900: #f1f3f5;
	--clr-neutral-1000: #fff;

	--clr-accent-200: #20c997;
	--clr-accent-300: #087d5a;
	--clr-accent-400: #087d5a;
	--clr-accent-500: #087d5a;
	--clr-accent-600: #087d5a;
	--clr-accent-700: #087d5a;

	--card-bg: #fff;
	--card-bg-light: #fff;

	--foreground: var(--clr-neutral-100);
	--foreground-muted: var(--clr-neutral-500);
	--background: var(--clr-neutral-900);
	--primary: var(--clr-accent-200);
}

body {
	background-color: var(--background);
}

.body {
	font-family: var(--ff-body);
	font-size: var(--fs-body);
}
